<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Patently Innovative</title>

		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
		<style type="text/css">
#wrapper {
	height: 500px;
	width: 1000px;
	margin: 0 auto;
	padding: 0;
}
#container {
	float: left;
	height: 500px; 
	width: 700px; 
	margin: 0;
}
#info {
	float: left;
	width: 270px;
	padding-left: 20px;
	margin: 100px 0 0 0;
	border-left: 1px solid silver;
}
#info h2 {
	display: inline;
}
#info .f32 .flag {
	vertical-align: bottom !important;
}

#info h4 {
	margin: 1em 0 0 0;
}
		</style>
		<script type="text/javascript">
var countries = {{ jsonData | safe }};
console.log(countries);
$(function () {
//    	$.get('/2012/2014', function (patentData) {
        var mapChart,
            countryChart;

        var data = [];	//create empty data array to hold recent data, not to be confused with countries.data which holds all values
        for (var code3 in countries) {
            var value = null,
                itemData = countries[code3].data,
                i = itemData.length;
            while (i--) {
                if (typeof itemData[i] === 'number') {
                    value = itemData[i-1];
                    break;
                }
            }
	    data.push({
                name: countries[code3].name,
                code3: code3,
                value: value,
            });
	}
        
        var mapData = Highcharts.geojson(Highcharts.maps['countries/us/us-all']);

        Highcharts.wrap(Highcharts.Point.prototype, 'select', function (proceed) {
            proceed.apply(this, Array.prototype.slice.call(arguments, 1));
            var points = mapChart.getSelectedPoints();
            if (points.length) {
                if (points.length === 1) {
                    $('#info #flag').attr('class', 'flag ' + points[0].flag);
                    $('#info h2').html(points[0].name);
                } else {
                    $('#info #flag').attr('class', 'flag');
                    $('#info h2').html('Comparing States');
                }
                $('#info .subheader').html('<h4>Patent Production</h4><small><em>Shift + Click on map to compare states</em></small>')
                if (!countryChart) {
                    countryChart = $('#country-chart').highcharts({
                        chart: {
                            height: 250,
                            spacingLeft: 0
                        },
                        credits: {
                            enabled: false
                        },
                        title: {
                            text: null
                        },
                        subtitle: {
                            text: null
                        },
                        xAxis: {
                            tickPixelInterval: 50,
                            crosshair: true
                        },
                        yAxis: {
                            title: null,
                            opposite: true
                        },
                        tooltip: {
                            shared: true
                        },
                        plotOptions: {
                            series: {
                                animation: {
                                    duration: 500
                                },
                                marker: {
                                    enabled: false
                                },
                                threshold: 0,
                                pointStart: 2000,
				pointInterval: 1
                            }
                        }
                    }).highcharts();
                }
                $.each(points, function (i) {
                    if (countryChart.series[i]) {
                        countryChart.series[i].update({
                            name: this.name,
                            data: countries[this.code3].data,
                            type: points.length > 1 ? 'line' : 'area'
                        }, false);
                    } else {
                        countryChart.addSeries({
                            name: this.name,
                            data: countries[this.code3].data,
                            type: points.length > 1 ? 'line' : 'area'
                        }, false);
                    }
                });
                while (countryChart.series.length > points.length) {
                    countryChart.series[countryChart.series.length - 1].remove(false);
                }
                countryChart.redraw();
            } else {
                $('#info #flag').attr('class', '');
                $('#info h2').html('');
                $('#info .subheader').html('');
                if (countryChart) {
                    countryChart = countryChart.destroy();
                }
            }
        });
        mapChart = $('#container').highcharts('Map', {
            title : {
                text : 'Patent Production Per 1000 People by State'
            },
            mapNavigation: {
                enabled: true,
                buttonOptions: {
                    verticalAlign: 'bottom'
                }
            },
            colorAxis: {
//                type: 'logarithmic', //default is 'linear'
                endOnTick: false,
                startOnTick: false,
                min: 0
            },
            tooltip: {
                footerFormat: '<span style="font-size: 10px">(Click for details)</span>'
            },
			// this is where the heavy-lifting is done! the joinBy merges the 3-letter country codes of the population data with the 
			// iso-a3 codes from the GeoJson data.  The current population is stored in the 'Map' object's 'data' field while the mapData
			// is stored in the mapData field
            series : [{
                data : data,
                mapData: mapData,
                joinBy: ['hc-a2', 'code3'],
                name: 'Patents granted in 2013',
                allowPointSelect: true,
                cursor: 'pointer',
                states: {
                    select: {
                        color: '#a4edba',
                        borderColor: 'black',
                        dashStyle: 'shortdot'
                    }
                }
            }]
        }).highcharts();
});
		</script>
	</head>
	<body>
<script src="../static/js/highcharts.js"></script>
<script src="../static/js/modules/map.js"></script>
<script src="http://code.highcharts.com/mapdata/custom/world.js"></script>
<script src="http://code.highcharts.com/mapdata/countries/us/us-all.js"></script>

<!-- Flag sprites service provided by Martijn Lafeber, https://github.com/lafeber/world-flags-sprite/blob/master/LICENSE -->
<link rel="stylesheet" type="text/css" href="http://cloud.github.com/downloads/lafeber/world-flags-sprite/flags32.css" />

<div id="wrapper">
	<div id="container"></div>
	<div id="info">
		<span class="f32"><span id="flag"></span></span>
		<h2></h2>
		<div class="subheader">Click states to view patent history</div>
		<div id="country-chart"></div>
	</div>
</div>

	</body>
</html>

